[Desktop Entry]
Name=Postman
Comment=Postman
Exec=/home/user/Applications/Postman/Postman
Icon=/home/user/Applications/Postman/app/resources/app/assets/icon.png
Terminal=false
Type=Application
X-GNOME-UsesNotifications=true